html {
  font-size: 18px;
  box-sizing: border-box;
  font-family: Source Sans Pro, Verdana, sans-serif;
}

body {
  line-height: 1.5;
  color: #242121;
  background: #fefefe;
}

a {
  color: #d9411e;
  text-decoration: none;
}

a:hover {
  color:#ff5a09
}

p {
  font-size: 17px;
  line-height: 1.4em;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

h1, h2, h3 {
  font-weight: 300;
}

pre {
  display: block;
  padding: 1rem;
}

pre, code {
  font-size: 90%;
  overflow: auto;
  font-family: $code-font-family;
  margin-bottom: 0;
}

pre > code {
  display: block;
  border: none;
  font-style: normal;
  font-size: 1rem;
}

iframe {
  border: 0;
}
