@import "normalize.scss";

$primary-color: #c05b4d;
$secondary-color: #f8f5ec;
$code-font-family: Consolas, Monaco, Menlo, Consolas, monospace !default;

@import "base.scss";

@media screen and (min-width: 1000px) {
    body {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
            ". header"
            ". content"
            ". footer";
    }

    header {
        grid-area: header;
    }

    main {
        grid-area: content;
    }

    footer {
        grid-area: footer;
    }
}

header {
    border-bottom: 1px solid #eee;
    text-align: center;
}

main {
    padding: 50px 50px;
}

@import "aside.scss";
@import "footer.scss";

article.portfolio {
    display: grid;
    grid-template-columns: 240px auto;
    grid-template-areas: "h s";

    header {
        grid-area: h;
    }

    section {
        grid-area: s;
    }
}
